fastapi
uvicorn
websockets                                             
pydantic
pydantic-settings
python-dotenv
stable-baselines3
torch
gymnasium
numpy
ultralytics
opencv-python
requests
sqlalchemy
asyncpg
alembic
psycopg2-binary
python-jose
passlib
bcrypt
python-multipart
fastapi
uvicorn
websockets
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
alembic
python-jose
passlib
bcrypt==4.0.1
python-multipart
numpy
stable-baselines3
torch
gymnasium
ultralytics
opencv-python-headless
requests